@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #c9d6ff;
    background-image: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.entrar {
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    height: 270px;
    width: 680px;
}

div.entrar h1 {
    padding: 10px 10px 2px 10px;

}

a {
    text-decoration: none;
    font-size: 14px;
    color: #8264ec;
    text-align: right;
}

a:hover {
    text-decoration: underline;
}

div.entrar button {
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    border: 1px solid transparent;
    color: white;
    background-color: purple;
    height: 37px;
}



label {
    font-size: 20px;
    padding-left: 0px;
}

input {
    border: none;
    background-color: lightgrey;
    border-radius: 8px;
    padding: 5px;
    height: 20px;
    margin: 10px;
}